body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2dddd;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #165fadd2;
  color: white;
  padding: 10px;
}



.nav-brand {
  font-weight: bold;
  font-size: 26px;
  color: rgb(255, 255, 255) !important;
}

.nav-brand:hover {
  text-decoration: none;
  transform: translateY(-2px);
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link:hover {
  background-color: #0d6efd;
  color: white !important;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  padding: 40px 20px;
}

.btn-custom {
  background-color: #165fadd2;
  border-color: #165fadd2;
  color: white;
}

.btn-custom:hover {
  background-color: #0f4c8a;
  /* um tom mais escuro para hover */
  border-color: #0f4c8a;
  transform: translateY(-2px);
  color: white;
}


.footer {
  background-color: #eee;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #555;

}

.container {
  width: 100%;
  max-width: 800px;
  background-color: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333333;
}



button {
  width: 30%;
  padding: 0.50rem;
  background-color: #165fadd2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1a3b8a;
}

/* tela de usuário verificado  */

#foto-preview {
  margin-top: 10px;
  border: 1px solid #ccc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

img {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.custom-thead {
  background-color: #165fadd2 !important;
  color: white;
}