{% extends 'base.html' %}
{% block title %}Réus Cadastrados{% endblock %}

{% block content %}
<div class="my-5">
    <h2 class="mb-4 text-center">
        <i class="bi bi-person"></i>
        Réus Cadastrados
    </h2>

    <div class=" row">
        {% for reu in reus %}
        <div class="col-8 mb-3 text-center justify-content-center mx-auto">
            <div class="row g-0 align-items-center shadow rounded bg-light p-3">
                <div class="col-md-4 text-center">
                    {% if reu.foto %}
                    <img src="{{ reu.foto.url }}" alt="Foto de {{ reu.nome }}" class="img-fluid rounded-start mb-2"
                        style="max-height: 150px; object-fit: cover;">
                    {% else %}
                    <img src="https://via.placeholder.com/150" alt="Sem foto" class="img-fluid rounded-start"
                        style="max-height: 150px; object-fit: cover;">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class=" card-title">{{ reu.nome }}</h5>
                        <p class="card-text mb-1"><strong>CPF:</strong> {{ reu.cpf }}</p>
                        <p class="card-text mb-1"><strong>Telefone:</strong> {{ reu.telefone }}</p>
                        <p class="card-text mb-0"><strong>Processo:</strong> {{ reu.num_processo }}</p>
                    </div>
                    <a href="{% url 'detalhes_reu' reu.id %}" class="btn btn-sm btn-custom mt-1">Detalhes</a>
                </div>
                <div class="col-md-2 mt-2">
                    <a href="{% url 'editar_reu' reu.id %}" class="btn btn-sm btn-secondary">Editar</a>
                    <a href="{% url 'deletar_reu' reu.id %}" class="btn btn-sm btn-danger">Apagar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<!-- Paginação -->
<div class="d-flex justify-content-center mt-4">
    <nav>
        <ul class="pagination">
            {% if reus.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reus.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            {% endif %}

            {% for num in reus.paginator.page_range %}
            {% if reus.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if reus.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ reus.next_page_number }}">Próximo</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Próximo</span>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}