{% extends 'base.html' %}
{% block title %}Validação do Réu{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h2>Validação do Réu</h2>
    <p class="lead">O sistema reconheceu o seguinte réu.
        <br> Confirme se está correto:
    </p>

    <div class=" shadow-sm p-3 mt-3 align-items-center">
        <h4>{{ reu.nome }}</h4>
        <p><strong>Processo:</strong> {{ reu.num_processo }}</p>
        <p><strong>Telefone:</strong> {{ reu.telefone }}</p>
        <p><strong>CPF:</strong> {{ reu.cpf }}</p>
        <!-- Se você tiver foto cadastrada no banco, pode exibir -->
        {% if reu.foto %}
        <img src="{{ reu.foto.url }}" class="img-fluid rounded mb-2 " width="350" alt="Foto do usuário">
        {% endif %}
    </div>

    <div class="mt-3">
        <a href="{% url 'confirmar_presenca' reu.id %}" class="btn btn-primary">Confirmar</a>
        <a href="{% url 'validar_presenca' %}" class="btn btn-danger">Cancelar</a>
    </div>
</div>
{% endblock %}